*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(3, 3, 44);
    color:white;
}
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:120px auto 0 auto;
    max-width: 500px;
}
.stats-container{
    padding:30px;
    border-radius: 20px;
    border:2px solid gold;
    display:flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.details{
    width: 100%;
}
#progressBar{
    width: 100%;
    height: 10px;
    background-color: blue;
    border-radius: 5px;
    margin-top: 20px;

}
#progress{
    width: 0%;
    height: 10px;
    background-color: lightblue;
    border-radius: 10px;
   transition: all 0.3s ease; 
}
#numbers{
     width:100px;
     height: 100px;
     background-color: purple;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     font-size: 30px;
     font-weight: bold;
}

form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;

}
input{
    flex: 1;
    padding: 16px;
    background-color: blue;
    border: 1px solid purple;
    border-radius: 10px;
    outline: none;
    color: white;
}

button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    color: beige;
    font-weight: bold;
    font-size: 30px;
    outline: none;
    
}

#task-list{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}
.task{
    display: flex;
    align-items: center;
    gap:10px;
}
.task input {
    width:20px;
    height:20px;
}
.taskItem{
    display:flex;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
}
.taskItem img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.completed p {
    text-decoration: line-through;
    color: yellow;
}