*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: navy;
    color:white;
}
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top:120px
}
.stats-container{
    padding:30px;
    border-radius: 20px;
    border:2px solid gold;
    display:flex;
}
#numbers{
     width:100px;
     height: 100px;
     background-color: purple;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     font-size: 30px;
     font-weight: bold;
}